<div class="cv-popup d-none">
    <div class="popup-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <a href="#" class="logo">
                        <img src="../img/logo.svg" alt="Laraguys">
                    </a>
                </div>
            </div>
        </div>
        <a href="#" class="close-popup"></a>
    </div>
    <div class="cv-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 cv-photo">
                    <img src="img/cv-alex.jpg" alt="Alex Karev" class="img-fluid">
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 cv-info">
                    <h2 class="cv-name">Alex Karev</h2>
                    <h3 class="cv-position">Senior web developer, Laravel</h3>
                    <div class="cv-info_content">
                        <p>Senior full stack web developer</p>
                        <ul class="cv-skill-list">
                            <li>Focus op LARAVEL</li>
                            <li>Ervaren PHP developer</li>
                            <li>Javascript via VUE.JS or ANGULAR frameworks</li>
                        </ul>
                        <a href="#" class="btn-stroke back d-none d-lg-inline-flex">Back</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-xl-1 cv-experience">
                    <h3 class="cv-experience-title">Ervaring</h3>
                    <div class="row cv-experience-item">
                        <div class="col-lg-4 col-md-2 col-5 cv-experience-year">1999 – 2003</div>
                        <div class="col-lg-8 col-md-8 col-7 cv-experience-info">
                            <h3>Zaporizka State Engineer Academy</h3>
                            <p>Bachelor’s degree web developer</p>
                        </div>
                    </div>
                    <div class="row cv-experience-item">
                        <div class="col-lg-4 col-md-2 col-5 cv-experience-year">2003 – 2011</div>
                        <div class="col-lg-8 col-md-8 col-7 cv-experience-info">
                            <h3>Freelance</h3>
                            <p>Various junior & medior web developer job positions</p>
                        </div>
                    </div>
                    <div class="row cv-experience-item">
                        <div class="col-lg-4 col-md-2 col-5 cv-experience-year">2011 – 2013</div>
                        <div class="col-lg-8 col-md-8 col-7 cv-experience-info">
                            <h3>ICT LLC</h3>
                            <p>Senior web developer</p>
                        </div>
                    </div>
                    <div class="row cv-experience-item">
                        <div class="col-lg-4 col-md-2 col-5 cv-experience-year">2013 - 2014</div>
                        <div class="col-lg-8 col-md-8 col-7 cv-experience-info">
                            <h3>Pixelteh</h3>
                            <p>Senior web developer</p>
                        </div>
                    </div>
                    <div class="row cv-experience-item">
                        <div class="col-lg-4 col-md-2 col-5 cv-experience-year">2014 – 2016</div>
                        <div class="col-lg-8 col-md-8 col-7 cv-experience-info">
                            <h3>Flexi INC</h3>
                            <p>Senior web developer</p>
                        </div>
                    </div>
                    <div class="row cv-experience-item">
                        <div class="col-lg-4 col-md-2 col-5 cv-experience-year">2016 – now</div>
                        <div class="col-lg-8 col-md-8 col-7 cv-experience-info">
                            <h3>Laraguys.com</h3>
                            <p>Freelance web developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a href="#" class="btn-stroke back d-inline-flex d-lg-none">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>