<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <a href="#" class="footer-logo">
                    <img src="img/logo.svg" alt="Laraguys">
                </a>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-5 col-sm-6 locations">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="footer-title">Locations</h3>
                    </div>
                    <div class="col-lg-8 col-sm-7 address-info">
                        <div class="address-block">
                            <p><b>Belgium, Westerlo</b></p>
                            <p>70 Dennenstraat, B-2260</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-5 address-info">
                        <div class="address-block">
                            <p><b>Zaporizja,</b></p>
                            <p>Ukraine</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6 contact-box">
                <h3 class="footer-title">Contact</h3>
                <p>
                    <a href="callto:32038081973">+32(0)3 808 19 73</a>
                </p>
                <p>
                    <a href="mailto:hello@laraguys.com">hello@laraguys.com</a>
                </p>
                <a href="#" class="linkedin-link">LinkedIn</a>
            </div>
            <div class="col-xl-2 offset-xl-1 col-sm-3 offset-lg-0 offset-sm-1 d-none d-md-block company-info">
                <h3 class="footer-title">Company details</h3>
                <p>Exact name of company behind Laraguys</p>
                <br>
                <p>VAT</p>
            </div>
        </div>
    </div>
</footer>