<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-1 col-2 d-lg-none d-md-flex align-items-center order-2 order-sm-1">
                <div class="show-menu"></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-10 order-1 order-sm-2 logo-wrap">
                <a href="#" class="logo">
                    <img src="img/logo.svg" alt="Laraguys">
                </a>
            </div>
            <div class="navigation col-xl-5 col-lg-6 offset-lg-1 order-4 order-lg-3">
                <nav class="main-nav">
                    <ul class="main-menu">
                        <li>
                            <a href="#">Voordelen</a>
                        </li>
                        <li>
                            <a href="#">Werkwijze</a>
                        </li>
                        <li>
                            <a href="#">Over Laraguys</a>
                        </li>
                        <li>
                            <a href="#">Samenwerken?</a>
                        </li>
                    </ul>
                </nav>
                <div class="contact-info d-lg-none">
                    <p>+32(0)3 808 19 73 </p>
                    <p>
                        <a href="mailto:hello@laraguys.com">hello@laraguys.com</a>
                    </p>
                    <a href="#" class="linkedin-link"><span class="d-none d-sm-inline">LinkedIn</span></a>
                </div>
                <nav class="lang-nav d-sm-none">
                    <ul class="lang-menu">
                        <li>
                            <a href="#">NL</a>
                        </li>
                        <li>
                            <a href="#">EN</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-1 offset-xl-3 offset-lg-2 col-sm-2 offset-sm-5 order-3 order-lg-4 lang-navigation">
                <nav class="lang-nav">
                    <ul class="lang-menu">
                        <li>
                            <a href="#">NL</a>
                        </li>
                        <li>
                            <a href="#">EN</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>